<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SessionFactoo</servlet-name>
        <servlet-class>controller.SessionFactoo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>controller.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBusController</servlet-name>
        <servlet-class>controller.AddBusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusConroller</servlet-name>
        <servlet-class>controller.BusConroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadBusData</servlet-name>
        <servlet-class>controller.LoadBusData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassengerController</servlet-name>
        <servlet-class>controller.PassengerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusWithDateController</servlet-name>
        <servlet-class>controller.BusWithDateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeatController</servlet-name>
        <servlet-class>controller.SeatController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionFactoo</servlet-name>
        <url-pattern>/SessionFactoo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/SignUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBusController</servlet-name>
        <url-pattern>/AddBusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusConroller</servlet-name>
        <url-pattern>/BusConroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadBusData</servlet-name>
        <url-pattern>/LoadBusData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassengerController</servlet-name>
        <url-pattern>/PassengerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusWithDateController</servlet-name>
        <url-pattern>/BusWithDateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeatController</servlet-name>
        <url-pattern>/SeatController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
